In [ ]:
import pandas as pd
import numpy as np

# Set the precision of our dataframes to one decimal place.
pd.set_option('precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a series of books. 
# The ratings given are in the range from 1 to 5, with 5 being the best score. 
# The names of the books, the corresponding authors, and the ratings of each user are given below:

books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])

# User ratings are in the order of the book titles mentioned above
# If a user has not rated all books, Pandas will automatically consider the missing values as NaN.
# If a user has mentioned `np.nan` value, then also it means that the user has not yet rated that book.
user_1 = pd.Series(data = [3.2, 4.5 ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, 3, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])


# Use the data above to create a Pandas DataFrame that has the following column
# labels: 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4'. 
# Let Pandas automatically assign numerical row indices to the DataFrame. 

# TO DO: Create a dictionary with the data given above
dat = 

# TO DO: Create a Pandas DataFrame using the dictionary created above
book_ratings = 

# TO DO:
# If you created the dictionary correctly you should have a Pandas DataFrame
# that has column labels: 
# 'Author', 'Book Title', 'User 1', 'User 2', 'User 3', 'User 4' 
# and row indices 0 through 4.

In [6]:
#creat data frame usind inputs dictionary
import pandas as pd
import numpy as np
data= {'books' : pd.Series(['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ]),
       'authors': pd.Series(['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ]),
       'user_1' : pd.Series([3.2, 4.5 ,2.5]),
       'user_2' : pd.Series([5., 1.3, 4.0, 3.8]),
       'user_3' : pd.Series([2.0, 2.3, 3, 4]),
       'user_4' : pd.Series([4, 3.5, 4, 5, 4.2])

}
df = pd.DataFrame(data)
df

                 books              authors  user_1  user_2  user_3  user_4
0   Great Expectations      Charles Dickens     3.2     5.0     2.0     4.0
1      Of Mice and Men       John Steinbeck     4.5     1.3     2.3     3.5
2     Romeo and Juliet  William Shakespeare     2.5     4.0     3.0     4.0
3     The Time Machine          H. G. Wells     NaN     3.8     4.0     5.0
4  Alice in Wonderland        Lewis Carroll     NaN     NaN     NaN     4.2

In [ ]:
import pandas as pd


# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]


# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = 


# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
time_light = 


# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.

close_planets =

In [2]:
import numpy as np 
import pandas as pd 
      
dist_planets = pd.Series(data= [149.6, 1433.5, 108.2, 227.9, 778.6], index = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter'])
dist_planets

Earth       149.6
Saturn     1433.5
Venus       108.2
Mars        227.9
Jupiter     778.6
dtype: float64

In [4]:
#speed of light in million Km per minutes 
c=18
#calculate time taken for light to reach each planet
time_light= dist_planets/c
time_light

Earth       8.311111
Saturn     79.638889
Venus       6.011111
Mars       12.661111
Jupiter    43.255556
dtype: float64

In [5]:
#select planet where light takes less than 40 minutes 
close_planets = time_light [time_light< 40]
close_planets

Earth     8.311111
Venus     6.011111
Mars     12.661111
dtype: float64